
<router-outlet></router-outlet> 
<div [hidden]="checkChildren()">
    <mat-toolbar>Vitals Signs</mat-toolbar>
        <mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="patient">
                <mat-header-cell *matHeaderCellDef> Paciente </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.patient.firstName }}
                    {{row.patient.lastName}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="temperature">
                <mat-header-cell *matHeaderCellDef> Temperatura </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.temperature }}</mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="pulse">
                <mat-header-cell *matHeaderCellDef> Pulso </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.pulse}}</mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="heartbeat">
                <mat-header-cell *matHeaderCellDef> Ritmo Cardiáco </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.heartbeat}}</mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.date | date:'dd-MM-yyyy hh:mm:ss a'}}</mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <!-- <button type="button" mat-raised-button color="primary" (click)="viewDetails(row)">View Details</button> -->
                    <button mat-button color="primary" [routerLink]="['edit', row.idVitalSign]">
                        <mat-icon>mode_edit</mat-icon>    
                    </button>
                    <button mat-button color="accent" (click)="delete(row.idVitalSign)">
                        <mat-icon>delete</mat-icon>    
                    </button>
                </mat-cell>
            </ng-container>
    
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    
        <button mat-fab color="accent" style="float: right" routerLink="/pages/vital-sign/new">
            <mat-icon>add</mat-icon>
          </button>
    
</div>
