<div >
    <div class="contenedorHijo">

        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>Mi Perfil</mat-card-title>
                <!-- <mat-card-subtitle>Extra large</mat-card-subtitle> -->
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content >
                <img mat-card-xl-image src="https://www.computerhope.com/jargon/g/guest-user.jpg" >
              <p>Usuario: {{username}}</p>
              <p>Rol(es): {{role}}</p>
            </mat-card-content>
          </mat-card>
    </div>
  </div>