.example-card {
    max-width: 400px;
    margin-bottom: 8px;
    align-items: center;
  }

  .contenedorHijo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }