<form class="example-container" [formGroup]="form" #frmExam="ngForm" (submit)="operate()">

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="idVitalSign">
        </mat-form-field>
    </div> 
    <mat-form-field>
        <mat-select placeholder="Select patient" formControlName="patient">
            <mat-option *ngFor="let p of patients$ | async" [value]="p.idPatient">
                {{p.firstName}} {{p.lastName}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Temperatura" minlength="1" required formControlName="temperature">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Pulso" minlength="1" required formControlName="pulse">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Ritmo Cardiaco" minlength="1" required formControlName="heartbeat">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Choose a date:</mat-label>
        <input matInput [matDatepicker]="picker" [min]="minDate" (dateChange)="retrieveDate($event)"
        formControlName="date">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


    <button mat-raised-button color="primary" type="submit" [disabled]="frmExam.invalid">
        <mat-icon>done</mat-icon>
        <span>Done</span>
    </button>

    <button mat-raised-button color="accent" type="button" (click)="cancel()">
        <mat-icon>cancel</mat-icon>
        <span>Cancel</span>
    </button>
</form>